extends layouts/main.pug
include mixins/videoBlock

block content
    .user-profile
        .user-profile__header
            img.u-avatar(src=user.avatarUrl)
            h4.profile__username=user.name
        if loggedUser && user.id === loggedUser.id
            .user-profile__btns
                a(href=`/users${routes.editProfile}`)
                    button 프로필 수정
                a(href=`/users${routes.changePassword}`)
                    button 비밀번호 변경
        if user.videos.length !== 0
            .home-videos.userDetail-videos
                each item in user.videos.reverse()
                    +videoBlock({
                        id:item.id,
                        title:item.title,
                        views:item.views,
                        videoFile:item.fileUrl,
                        date:moment(item.createAt).format('YYYY. MM. DD')
                    })
        else
            span.no-videos 공유한 비디오가 없어요.