.header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 98;
  .header__wrapper {
    padding: 10px 0px;
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.2);
    .header__column {
      i {
        color: $red;
        font-size: 30px;
        margin-left: 40px;
        margin-right: 5px;
      }
      h3 {
        color: $black;
        font-weight: 600;
        font-size: 27px;
        margin-bottom: 2px;
      }
      &:first-child {
        a {
          display: flex;
          align-items: center;
        }
      }
      &:nth-child(2) {
        width: 100%;
        justify-self: center;
      }
      &:last-child {
        justify-self: end;
        margin-right: 40px;
        .header__menu {
          position: fixed;
          top: 50px;
          right: 40px;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          border-radius: 5px;
          background-color: white;
          li {
            transition: background-color 0.15s linear;
            margin: 0;
            padding: 15px;
            cursor: pointer;
            &:hover {
              background-color: #f5f5f5;
            }
          }
        }
      }
      ul {
        display: flex;
        a {
          color: $black;
          font-weight: 600;
          text-transform: uppercase;
        }
        li:not(:last-child) {
          margin-right: 15px;
        }
      }
      form {
        width: 100%;
        input {
          width: 100%;
          padding: 7px 10px;
          border: 1px solid rgba(0, 0, 0, 0.2);
          border-radius: 20px;
          font-size: 14px;
          color: $black;
          font-weight: 600;
          max-width: none;
          box-shadow: none;
          transition: box-shadow 0.15s linear;
          &:hover {
            box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
          }
          &::placeholder {
            font-weight: 300;
            color: rgba(0, 0, 0, 0.7);
          }
        }
      }
    }
  }
}
.show {
  display: block;
}
.hide {
  display: none;
}
.shadow {
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
}
