.social-login
    button.social-login__github
        a(href=routes.github)
            span
                i.fab.fa-github
            |깃허브 로그인
    button.social-login__kakao
        a(href=routes.kakao)
            span
                i.fas.fa-comment
            |카카오 로그인