.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__info {
    width: 100%;
    max-width: 480px;
    margin-top: 25px;
    .videoBlock__info {
      display: flex;
      .videoBlock__column:last-child {
        margin-left: 10px;
      }
    }
    button {
      width: 100px;
      margin-bottom: 25px;
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin: 15px 0px;
    }
    .video__title {
      font-size: 30px;
      font-weight: 400;
      margin-bottom: 10px;
    }
    .video__views {
      font-size: 14px;
      padding-bottom: 15px;
      padding-left: 5px;
      border-bottom: 1.5px solid rgba(0, 0, 0, 0.1);
    }
    .video__description {
      font-size: 16px;
      max-width: 415px;
      margin: 0;
    }
    .creator {
      color: $black;
      font-size: 12px;
    }
  }
  .video__comments {
    margin-top: 25px;
    text-align: center;
    .video__comment-number {
      font-size: 18px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .video__comments-list {
      margin-top: 50px;
      li {
        display: flex;
        .comment__column:first-child {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          margin-right: 10px;
          margin-bottom: 20px;
          .creator {
            color: $black;
            font-size: 12px;
          }
        }
        .comment__column:last-child {
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
          max-width: 320px;
          background-color: #3498db;
          color: white;
          padding: 15px 25px;
          border-radius: 35px;
          border-bottom-left-radius: 0px;
          border-top-right-radius: 20px;
          position: relative;
          margin-bottom: 25px;
          display: flex;
          align-items: center;
          button {
            position: absolute;
            border-radius: 50%;
            width: 15px;
            height: 15px;
            padding: 5px 5px;
            right: -15px;
            top: -10px;
            font-size: 12px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}
